.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about__title {
    font-size: var(--size-4xl);
    font-style: italic;
}

.about__details-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    background-color: var(--clr-primary);
    border-radius: 1rem;
    color: var(--clr-light);
}

.about__img {
    width: var(--size-10xl);
    height: var(--size-10xl);
}

.about__details-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
    gap: 1rem;
}

.about__details-subtitle {
    font-size: var(--size-2xl);
    font-style: italic;
}

.about__details-p {
    font-size: var(--size-lg);
    text-align: justify;
}

.about__details-footer {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    text-align: center;
}

.about__details-footer-subtitle {
    font-size: var(--size-2xl);
    font-style: italic;
}

.about__details-footer-p {
    font-size: var(--size-lg);
    font-style: italic;
}

/* 2xl*/
/* @media (max-width: 1536px) {} */

/* xl */
@media (max-width: 1280px) {
    .about__title {
        font-size: var(--size-3xl);
    }

    .about__img {
        width: var(--size-9xl);
        height: var(--size-9xl);
    }

    .about__details-subtitle {
        font-size: var(--size-xl);
    }

    .about__details-p {
        font-size: var(--size-base);
    }

    .about__details-footer-subtitle {
        font-size: var(--size-xl);
    }

    .about__details-footer-p {
        font-size: var(--size-base);
    }
}

/* lg */
@media (max-width: 1024px) {
    .about__title {
        font-size: var(--size-2xl);
    }

    .about__img {
        width: var(--size-8xl);
        height: var(--size-8xl);
    }

    .about__details-subtitle {
        font-size: var(--size-lg);
    }

    .about__details-p {
        font-size: var(--size-sm);
    }

    .about__details-footer-subtitle {
        font-size: var(--size-lg);
    }

    .about__details-footer-p {
        font-size: var(--size-sm);
    }
}

/* md */
@media (max-width: 768px) {
    .about {
        gap: 1rem;
    }
    .about__details-container {
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
    }
    .about__details-wrapper {
        gap: 0.75rem;
    }
    .about__details-footer {
        flex-direction: column;
        gap: 1rem;
    }
}

/* sm */
@media (max-width: 640px) {
    .about__title {
        font-size: var(--size-xl);
    }

    .about__img {
        width: var(--size-7xl);
        height: var(--size-7xl);
    }

    .about__details-subtitle {
        font-size: var(--size-base);
    }

    .about__details-p {
        font-size: var(--size-xs);
    }

    .about__details-footer-subtitle {
        font-size: var(--size-base);
    }

    .about__details-footer-p {
        font-size: var(--size-xs);
    }
}

/* xs */
/* @media (max-width: 475px) {} */
