.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}

.contact__title {
    font-size: var(--size-4xl);
    font-style: italic;
    text-align: center;
}

.contact__container {
    background-color: var(--clr-primary);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__form-item-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contact__label {
    font-size: var(--size-xl);
    color: var(--clr-light);
    font-weight: bold;
}

.contact__input {
    flex: 1;
    font-size: var(--size-xl);
}

.contact__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__submit {
    background-color: var(--clr-rose);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-light);
    font-size: var(--size-xl);
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
}

.contact__submit:hover {
    background-color: var(--clr-rose-hover);
}

.contact__notice {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
}

.contact__notice-p {
    font-size: var(--size-xl);
}

.contact__details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__details {
    font-size: var(--size-xl);
}

/* 2xl*/
/* @media (max-width: 1536px) {} */

/* xl */
@media (max-width: 1280px) {
    .contact__title {
        font-size: var(--size-3xl);
    }

    .contact__label {
        font-size: var(--size-lg);
    }

    .contact__input {
        font-size: var(--size-lg);
    }

    .contact__submit {
        font-size: var(--size-lg);
    }

    .contact__notice-p {
        font-size: var(--size-lg);
    }

    .contact__details {
        font-size: var(--size-lg);
    }
}

/* lg */
@media (max-width: 1024px) {
    .contact__title {
        font-size: var(--size-2xl);
    }

    .contact__label {
        font-size: var(--size-base);
    }

    .contact__input {
        font-size: var(--size-base);
    }

    .contact__submit {
        font-size: var(--size-base);
    }

    .contact__notice-p {
        font-size: var(--size-base);
    }

    .contact__details {
        font-size: var(--size-base);
    }
}

/* md */
@media (max-width: 768px) {
    .contact {
        gap: 1.5rem;
    }

    .contact__container {
        padding: 1.5rem;
        gap: 1.5rem;
    }
    .contact__form {
        gap: 1.5rem;
    }
    .contact__form-item-wrapper {
        gap: 0.75rem;
    }
    .contact__notice {
        gap: 0.75rem;
    }
}

/* sm */
@media (max-width: 640px) {
    .contact__title {
        font-size: var(--size-xl);
    }

    .contact__label {
        font-size: var(--size-sm);
    }

    .contact__input {
        font-size: var(--size-sm);
    }

    .contact__submit {
        font-size: var(--size-sm);
    }

    .contact__notice-p {
        font-size: var(--size-sm);
    }

    .contact__details {
        font-size: var(--size-sm);
    }
}

/* xs */
/* @media (max-width: 475px) {} */
