.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.home__hero {
    display: inline-block;
    max-width: 50%;
    border-radius: 10px;
    border: 0.2rem solid var(--clr-dark);
}

.home__title {
    text-align: center;
    font-size: var(--size-7xl);
    color: var(--clr-yellow);
}

.home__p {
    font-size: var(--size-xl);
    max-width: 40ch;
    text-align: center;
}

.home__strong-1 {
    color: #9f1239;
}

.home__strong-2 {
    color: #3730a3;
}

.home__strong-3 {
    color: #f87171;
}

.home__strong-4 {
    color: #0d9488;
}

.home__p-link {
    color: var(--clr-primary);
    font-style: italic;
    text-decoration: underline;
    transition: color 0.3s;
}

.home__p-link:hover {
    color: var(--clr-primary-hover);
}

.home__button-wrapper {
    min-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home__btn {
    font-size: var(--size-lg);
    letter-spacing: 0.15em;
    /* font-weight: 400; */
    text-align: center;
    font-style: italic;
}

.home__review-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home__review-subtitle {
    font-size: var(--size-3xl);
}

.home__review-wrapper {
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.home__review-icon {
    height: var(--size-10xl);
    width: var(--size-10xl);
    border-radius: 50%;
}

.home__review-p-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home__review {
    max-width: 50ch;
    font-size: var(--size-xl);
    font-style: italic;
    color: var(--clr-light);
}

.home__customer-name {
    font-size: var(--size-lg);
    color: var(--clr-yellow);
    /* font-style: italic; */
    font-weight: bold;
    letter-spacing: 0.15rem;
}

/* 2xl*/
/* @media (max-width: 1536px) {} */

/* xl */
@media (max-width: 1280px) {
    .home__title {
        font-size: var(--size-6xl);
    }

    .home__p {
        font-size: var(--size-lg);
    }

    .home__btn {
        font-size: var(--size-base);
    }

    .home__review-subtitle {
        font-size: var(--size-2xl);
    }

    .home__review-icon {
        width: var(--size-9xl);
        height: var(--size-9xl);
    }

    .home__review {
        font-size: var(--size-lg);
    }

    .home__customer-name {
        font-size: var(--size-base);
    }
}

/* lg */
@media (max-width: 1024px) {
    .home {
        gap: 1.5rem;
    }

    .home__title {
        font-size: var(--size-5xl);
    }

    .home__p {
        font-size: var(--size-base);
    }

    .home__btn {
        font-size: var(--size-sm);
    }

    .home__review-subtitle {
        font-size: var(--size-xl);
    }

    .home__review-icon {
        width: var(--size-8xl);
        height: var(--size-8xl);
    }

    .home__review-container {
        gap: 1.5rem;
    }

    .home__review-wrapper {
        padding: 1rem;
    }

    .home__review {
        font-size: var(--size-base);
    }

    .home__customer-name {
        font-size: var(--size-sm);
    }
}

/* md */
@media (max-width: 768px) {
    .home {
        gap: 1rem;
    }

    .home__review-container {
        gap: 1rem;
    }

    .home__review-wrapper {
        padding: 0.7rem;
    }
}

/* sm */
@media (max-width: 640px) {
    .home__title {
        font-size: var(--size-4xl);
    }

    .home__p {
        font-size: var(--size-sm);
    }

    .home__btn {
        font-size: var(--size-xs);
    }

    .home__review-subtitle {
        font-size: var(--size-lg);
    }

    .home__review-icon {
        width: var(--size-7xl);
        height: var(--size-7xl);
    }

    .home__review {
        font-size: var(--size-sm);
    }

    .home__customer-name {
        font-size: var(--size-xs);
    }
}

/* xs */
/* @media (max-width: 475px) {} */
