.header {
    background-color: var(--clr-primary);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    position: relative;
}

.header__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header__title {
    font-size: var(--size-8xl);
    color: var(--clr-lightyellow);
}

.header__subtitle {
    font-size: var(--size-3xl);
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    color: var(--clr-bluegreen);
}

.desktop-nav {
    flex: 1;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.desktop-nav-ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.desktop-nav-li {
    font-size: var(--size-3xl);
    color: var(--clr-light);
    font-style: italic;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.desktop-nav-li:hover {
    background-color: var(--clr-light);
    color: var(--clr-primary);
}
