.footer {
    background-color: var(--clr-primary);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer__content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__p {
    font-size: var(--size-lg);
    color: var(--clr-light);
}
