.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 1;
}

.fullwidth {
    min-width: 100%;
}

.section {
    margin-top: 10rem;
}

.primary-btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    transition: background-color 0.3s;
}

.primary-btn:hover {
    background-color: var(--clr-primary-hover);
}

/* 2xl*/
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .section {
        margin-top: 5rem;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}

/* 2xl*/
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */
