.container {
    max-width: 1535px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.fullwidth {
    min-width: 100%;
}

.section {
    margin-top: 10rem;
}

/* 2xl*/
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */
